* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	font-family: 'Raleway', sans-serif;
}
nav img {
	border-radius: 100%;
}
nav ul {
    display: inline-block;
    text-align: center;
}

div .display-5 {
	margin-bottom: 3rem;
}


#fixa{  
 position: absolute;
 display: inline-block; 
 z-index: 10;
 background-color: black;
 opacity: 0.8;
 float: right;
 height:500px;
 width: 30%;
 padding: 20px;
}

.display-5{
	color: #f43c60;
    font-size: 2.4em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#game-cards .bg-wrapper {
	background: url(../images/assassinbg.jpg) center center no-repeat;
	background-size: cover;
}
#game-cards h5{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 700;
}

#game-cards img{
	height: 200px;	
}

#game-cards a {
  width: 100%;
  left: 0;
  bottom: 2rem;
  position: absolute;
}

#game-cards .card {
	background-color: rgba(51,51,51,0.8);
	color: white;
}
 
#news a {
	bottom: .5rem;
	position: relative;
	float: right;
}
#carousel .display-3 {
	font-size: 2.4em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 700;
    bottom: 250px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.navbar-wrapper {
    position:relative;
    margin: 0px 9rem 0px 9rem;
}
.carousel {
    top:0;
}
.carousel-inner {
    width: 100%; 
    overflow: hidden;
    }
.navbar {
    position:absolute;
    top:0;
    z-index:10;
    background: rgb(0, 0, 0); opacity: 0.7;
    width:100%;
}


.navbar-dark {
	color: white;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 3rem;
    height: 50px;
    padding-top: 0;
    font-size: 1.5rem;
}

.bg-transparent {
	background-color: white;
}

.wrapper {
	margin-right: auto;
	margin-left: auto;
	padding-left: auto;
	padding-right: auto;
}

.events .container {
	padding: 0;
	margin: 0;
}

.card-image-left {
	display: inline-block;
  float: left;

}

 #poster {
 	background: url(../images/posterbg.jpg) center center no-repeat;
 	background-size: cover;
 }

  #categories {
 	background: url(../images/sky.jpg) center center no-repeat;
 	background-size: cover;
 }

 .about-text {
 	background: rgba(0,0,0,0.8);
 	color: white;
 	padding: 1.875rem;
 	border-radius: 5px;
 }

 #footer-main {
	background: #222;
	color: white;
	font-size: 0.8rem;
	padding: 2.5rem 0;
}

#footer-main a {
	list-style: none;
	color: white;
}

@media(max-width: 991px){
	
	#game-cards .card {
		min-width: 45%;
		margin-bottom: 5px;
		/*position: relative;
		float: left;
		display: inline-block;*/
	}
}
@media(max-width: 1200px){
	#team .card{
			min-width: 45%;
			margin-bottom: 5px;
		}
	}

.gal-item{
	overflow: hidden;
	padding: 8px;
}
.gal-item .box{
	height: 100%;
	overflow: hidden;
}
.box img{
	height: 100%;
	width: auto;
	object-fit:cover;
}

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

#cover {
	background: url(../images/tb.jpg) center center no-repeat;
	background-size: cover;
	color: white;
	height: 100vh;
	text-align: center;
	display: flex;
	align-items: center;
	}	

	#cover.contact{
		height: 70vh;
	} 

/*h1, p{
	color: white;
}
*/
#cover-caption {
	width: 100%;
}

.dark {
	background: rgba(0,0,0,0.6);
 	color: white;
	padding: 0.5rem;
 	border-radius: 5px;
 	position: absolute;
 	bottom: 0;
}

.column-2 .dark {

	background: rgba(0,0,0,0.75);
}

.sidegal .row {
	height: 150px;
	position: relative;
}

#contact{
  background-color: rgba(21,21,21,0.8);
  letter-spacing: 2px;
  }
#contact a{
  color: #fff;
  text-decoration: none;
}




@media (max-width: 575.98px) {

  #contact{padding-bottom: 800px;}
  #contact .maps iframe{
    width: 100%;
    height: 450px;
  }
 }


@media (min-width: 576px) {

   #contact{padding-bottom: 800px;}

   #contact .maps iframe{
     width: 100%;
     height: 450px;
   }
 }

@media (min-width: 768px) {

  #contact{padding-bottom: 350px;}

  #contact .maps iframe{
    width: 100%;
    height: 850px;
  }
}

@media (min-width: 992px) {
  #contact{padding-bottom: 200px;}

   #contact .maps iframe{
     width: 100%;
     height: 700px;
   }
}


#author a{
  color: #fff;
  text-decoration: none;
    
}

