* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	font-family: 'Raleway', sans-serif;
	
}
nav img {
	border-radius: 100%;
}
nav ul {
    display: inline-block;
    text-align: center;
}

div .display-5 {
	margin-bottom: 3rem;
}


#fixa{  
 position: absolute;
 display: inline-block; 
 z-index: 10;
 background-color: black;
 opacity: 0.8;
 float: right;
 height:500px;
 width: 30%;
 padding: 20px;
}

.display-5{
	color: #f43c60;
    font-size: 2.4em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#game-cards .bg-wrapper {
	background: url(../images/assassinbg.jpg) center center no-repeat;
	background-size: cover;
}
#game-cards h5{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 700;
}

#game-cards img{
	height: 200px;	
}

#game-cards a {
  width: 100%;
  left: 0;
  bottom: 2rem;
  position: absolute;
}

#game-cards .card {
	background-color: rgba(51,51,51,0.8);
	color: white;
}
 
#news a {
	bottom: .5rem;
	position: relative;
	float: right;
}
#carousel .display-3 {
	font-size: 2.4em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: 700;
    bottom: 250px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.navbar-wrapper {
    position:relative;
    margin: 0px 9rem 0px 9rem;
}
.carousel {
    top:0;
}
.carousel-inner {
    width: 100%; 
    overflow: hidden;
    }
.navbar {
/*    position:absolute;
    top:0;*/
    z-index:10;
    background: rgb(0, 0, 0); opacity: 1;
    width:100%;
}


.navbar-dark {
	color: white;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 3rem;
    height: 50px;
    padding-top: 0;
    font-size: 1.5rem;
}

.bg-transparent {
	background-color: white;
}

.wrapper {
	margin-right: auto;
	margin-left: auto;
	padding-left: auto;
	padding-right: auto;
	display: flex;
}

.wrappers {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.events .container {
	padding: 0;
	margin: 0;
}

.card-image-left {
	display: inline-block;
  float: left;

}

 #poster {
 	background: url(../images/posterbg.jpg) center center no-repeat;
 	background-size: cover;
 }

  #categories {
 	background: url(../images/sky.jpg) center center no-repeat;
 	background-size: cover;
 }

 .about-text {
 	background: rgba(0,0,0,0.8);
 	color: white;
 	padding: 1.875rem;
 	border-radius: 5px;
 }

 #footer-main {
	background: #222;
	color: white;
	font-size: 0.8rem;
	padding: 2.5rem 0;
}

#footer-main a {
	list-style: none;
	color: white;
}

@media(max-width: 991px){
	
	#game-cards .card {
		min-width: 45%;
		margin-bottom: 5px;
		/*position: relative;
		float: left;
		display: inline-block;*/
	}
}
@media(max-width: 1200px){
	#team .card{
			min-width: 45%;
			margin-bottom: 5px;
		}
	}

.gal-item{
	overflow: hidden;
	padding: 8px;
}
.gal-item .box{
	height: 100%;
	overflow: hidden;
}
.box img{
	height: 100%;
	width: auto;
	object-fit:cover;
}

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

#cover {
	background: url(../images/tb.jpg) center center no-repeat;
	background-size: cover;
	color: white;
	height: 40vh;
	text-align: center;
	display: flex;
	align-items: center;
	}	

	#cover.contact{
		height: 70vh;
	} 

/*h1, p{
	color: white;
}
*/
#cover-caption {
	width: 100%;
}

.dark {
	background: rgba(0,0,0,0.6);
 	color: white;
	padding: 0.5rem;
 	border-radius: 5px;
 	position: absolute;
 	bottom: 0;
}

.column-2 .dark {

	background: rgba(0,0,0,0.75);
}

.sidegal .row {
	height: 150px;
	position: relative;
}

#contact{
  background-color: rgba(21,21,21,0.8);
  letter-spacing: 2px;
  }
#contact a{
  color: #fff;
  text-decoration: none;
}




@media (max-width: 575.98px) {

  #contact{padding-bottom: 800px;}
  #contact .maps iframe{
    width: 100%;
    height: 450px;
  }
 }


@media (min-width: 576px) {

   #contact{padding-bottom: 800px;}

   #contact .maps iframe{
     width: 100%;
     height: 450px;
   }
 }

@media (min-width: 768px) {

  #contact{padding-bottom: 350px;}

  #contact .maps iframe{
    width: 100%;
    height: 850px;
  }
}

@media (min-width: 992px) {
  #contact{padding-bottom: 200px;}

   #contact .maps iframe{
     width: 100%;
     height: 700px;
   }
}


#author a{
  color: #fff;
  text-decoration: none;
    
}

    body,html{
		height: 100%;
	}

	/* remove outer padding */
	.main .row{
		padding: 0px;
		margin: 0px;
	}

	/*Remove rounded coners*/

	nav.sidebar.navbar {
		border-radius: 0px;
	}

	nav.sidebar, .main{
		-webkit-transition: margin 200ms ease-out;
	    -moz-transition: margin 200ms ease-out;
	    -o-transition: margin 200ms ease-out;
	    transition: margin 200ms ease-out;
	}

	/* Add gap to nav and right windows.*/
	.main{
		padding: 10px 10px 0 10px;
	}

	/* .....NavBar: Icon only with coloring/layout.....*/

	/*small/medium side display*/
	@media (min-width: 768px) {

		/*Allow main to be next to Nav*/
		.main{
			position: absolute;
			width: calc(100% - 40px); /*keeps 100% minus nav size*/
			margin-left: 40px;
			float: right;
		}

		/*lets nav bar to be showed on mouseover*/
		nav.sidebar:hover + .main{
			margin-left: 200px;
		}

		/*Center Brand*/
		nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
			margin-left: 0px;
		}
		/*Center Brand*/
		nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
			text-align: center;
			width: 100%;
			margin-left: 0px;
		}

		/*Center Icons*/
		nav.sidebar a{
			padding-right: 13px;
		}

		/*adds border top to first nav box */
		nav.sidebar .navbar-nav > li:first-child{
			border-top: 1px #e5e5e5 solid;
		}

		/*adds border to bottom nav boxes*/
		nav.sidebar .navbar-nav > li{
			border-bottom: 1px #e5e5e5 solid;
		}

		/* Colors/style dropdown box*/
		nav.sidebar .navbar-nav .open .dropdown-menu {
			position: static;
			float: none;
			width: auto;
			margin-top: 0;
			background-color: transparent;
			border: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		/*allows nav box to use 100% width*/
		nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
			padding: 0 0px 0 0px;
		}

		/*colors dropdown box text */
		.navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
			color: #777;
		}

		/*gives sidebar width/height*/
		nav.sidebar{
			width: 200px;
			height: 100%;
			margin-left: -160px;
			float: left;
			z-index: 8000;
			margin-bottom: 0px;
		}

		/*give sidebar 100% width;*/
		nav.sidebar li {
			width: 100%;
		}

		/* Move nav to full on mouse over*/
		nav.sidebar:hover{
			margin-left: 0px;
		}
		/*for hiden things when navbar hidden*/
		.forAnimate{
			opacity: 0;
		}
	}

	/* .....NavBar: Fully showing nav bar..... */

	@media (min-width: 1330px) {

		/*Allow main to be next to Nav*/
		.main{
			width: calc(100% - 200px); /*keeps 100% minus nav size*/
			margin-left: 200px;
		}

		/*Show all nav*/
		nav.sidebar{
			margin-left: 0px;
			float: left;
		}
		/*Show hidden items on nav*/
		nav.sidebar .forAnimate{
			opacity: 1;
		}
	}

	nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #CCC;
		background-color: transparent;
	}

	nav:hover .forAnimate{
		opacity: 1;
	}
	section{
		padding-left: 15px;
	}

	#sidebar {
    min-width: 300px;
    max-width: 300px;
    min-height: 100vh;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
	}

	#sidebar.active {
	    margin-left: -250px;
	}

	@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

/*p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}*/

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.cont a {
	text-decoration: underline;
}

.cont a:hover {
	color: #e74c3c;
}


#sidebar .sidebar-header {

    background: #7f8c8d;
}

#sidebar ul.components {
    padding: 20px 0;
    width: 100%;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}	

.profile img {
    height: 50px;
    width: 50px;
}
.avatar {
    border-radius: 100%;
}

.thread .profiles img {
	height: 130px;
    width: 130px;
}

.thread .profiles .avatar {
    border-radius: 5%;
}

.thread {
	-webkit-box-shadow: -1px -1px 18px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -1px -1px 18px -1px rgba(0,0,0,0.75);
box-shadow: -1px -1px 18px -1px rgba(0,0,0,0.75);
}

.bg-top {
	background: #6d7fcc;
}

.border-3 {
    border-width:3px !important;
    color: #6d7fcc;
}

.bg-cloud {
	background: #ecf0f1;
}
.termsx {
	overflow-y: scroll;
	height: 300px;
	width: 100%;
	border: 1px solid #000;
	padding: 10px;
}

.error {
  color: red;
  margin-left: 5px;
}
